.navBar {
    background-color: #81a6cb; /* Blueish grey color */
    height: 10vh; /* 15% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.navBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
.navBar li {
    margin: 0 10px;
  }
  
.navBar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
.navBar a:hover {
    color: #ffcc00; /* Change color on hover */
  }
.sidebar {
    background-color: #03021a; /* Blueish grey color */
    width: 10vw; /* 15% of the viewport width */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }
  
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 90%;
    width: 100%;
  }
  
.sidebar li {
    margin: 0px 0;
    /* padding-left: 15px; */
    font-size: 20px;
    width: 100%; /* Set the width to 100% */
    padding: 10px 10px; /* Apply padding to the anchor tag */
    display: block; /* Make the anchor tag a block-level element */
    transition: color 0.3s ease, background-color 0.3s ease; 
  }
  
.sidebar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  .sidebar a:hover {
    color: #ffcc00; /* Change text color on hover */
  }

.sidebar li:hover{
    background-color: royalblue; /* Change background color of the list item on hover */
}